*{
    font-family: "poppins", sans-serif;
}

body#football-body{
    background-image: url(./images/fenerbahce.webp);
    overflow: hidden;
}
#span-score{
    font-size: 2rem;
    font-weight: 600;
}
#score{
    font-size: 2rem;
    font-weight: 600;
}
.body-section{
    display: flex;
    align-items: center;
    justify-content: space-around !important;
    margin-top: 4rem !important;
}
button.takim-degis{
    display: block;
}
button.plus,.minus{
    display: inline-block;
}
.plus-2 , .plus-3{
    display: block;
}
div.section-2{
    display: inline-grid !important;
}